/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 1.4rem;
  font-weight: normal;
}

img {
  width: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  border-radius: 30px;
  font-size: inherit;
  width: 130px;
  height: 50px;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.1);
  padding: 0 50px 20px;
  position: relative;
}

.header-top {
  display: flex;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.header-top input {
  border: none;
  background-color: #e5e7eb;
  border-radius: 20px;
  width: 80%;
  height: 40px;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-top-right .bold {
  white-space: nowrap;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.header-btns {
  display: flex;
  gap: 30px;
}

.header-bot {
  display: flex;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.header-bot img {
  width: 100px;
}

.intro {
  display: flex;
  align-items: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.intro-top {
  font-size: 1.2rem;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 ;
  padding: 20px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.6rem;
}

.sidebar li {
  margin-top: 20px;
  margin-left: 12px;
}

.sidebar > div {
  margin-bottom: 50px;
}

.sidebar img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #e5e7eb;
  padding: 40px 30px;
}

.main-left {
  margin-right: 30px;
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 220px;
  border-left: 10px solid #eab308;
  box-sizing: border-box;
  padding: 20px;
}

.card-btns {
  display: flex;
  align-self: flex-end;
  gap: 40px;
}

.announcement {
  padding: 10px;
}

.announcements-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.announcements-box > div {
  border-bottom: 2px solid #e5e7eb;
  box-sizing: border-box;
}

.announcements-box > div:last-child {
  border-bottom: none;
}

.trending-item {
  display: flex;
  align-items: center;
}

.trending-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bold,
.intro-text,
.project-title,
.announcement-title,
.sidebar {
  font-weight: bold;
}

button,
.main-left > .bold,
.announcements > .bold,
.trending > .bold {
  font-weight: 500;
}

.sidebar .bold,
.sidebar a,
.header-btns button {
  color: white;
}

.card,
.announcements-box,
.trending-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.1);
}

.sidebar,
button {
  background-color: #60a5fa;
}

.sidebar-logo,
.intro-bot {
  font-size: 2rem;
}

.sidebar-logo img,
.trending-box img,
.header-top-right img+img {
  width: 70px;
}

.project-description,
.announcement-title,
.trending-item a {
  font-size: 1.2rem;
}

.announcement-content {
  font-size: 1rem;
}

.project-description,
.announcement-content,
.trending-project a {
  color: #4b5563;
}

.cards,
.announcements-box,
.trending-box {
  margin-top: 10px;
}